---
---

@import "{{ site.theme }}";

// Inter Alia from https://github.com/Shavian-info/interalia

@font-face {
    font-family: "Inter Alia";
    src: url("/assets/font/InterAlia-Regular.ttf");
}

@font-face {
    font-family: "Inter Alia";
    src: url("/assets/font/InterAlia-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Inter Alia";
    src: url("/assets/font/InterAlia-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Inter Alia";
    src: url("/assets/font/InterAlia-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: "Fairfax HD";
    src: url("/assets/font/FairfaxHD.ttf");
}

body, h1, h2, h3, h4, h5, h6, th,
{
    font-family: "Inter Alia", "Lucida Grande", "Calibri", "Helvetica", "Arial", sans-serif;
    word-spacing: 0.2ch;
}

pre, code {
    font-family: "Inter Alia", "Monaco", "Bitstream Vera Sans Mono", "Lucida Console", "Terminal", monospace;
    font-size: inherit;
}
